{% extends "work/base.html" %}

{% block content %}
<!--- Upload consumer records -->
<p>Upload consumer data</p>
<div id="appConsumer">
    <form class="downloadSummary" method="POST" action="{% url 'work:downloadFile' %}">
        {% csrf_token %}
        <input hidden name='path' value="files/template_consumer_details.xlsx">
        <input hidden name='filename' value="template_consumer_details.xlsx">
        <input hidden name='tabtype' value="template_consumer_details">
        <input type="submit" value="Download Consumer Details Template">
    </form>
    <form action="{% url 'consumers:upload'%}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label>Upload id</label>
        <input type="text" name="upid" v-model="upid" @change="changed">
        <input type="file" name="file" accept=".xlsx" @change="changed" v-model="file">
        <input type="submit" value="upload" :disabled="!isValid">
    </form>
    <div class="section">
        <strong>Consumers Count</strong>
        {{data | safe}}
    </div>
    <div class="section">
        <form @submit.prevent="loadConsumers()" style="display: flex; flex-direction:row; justify-content:flex-start;">
            <label>Village</label>
            <input type="text" name="village" id="village" v-model="village">
            <label>census + habitation</label>
            <input type="text" name="habid" id="habid" v-model="habid" autofocus>
            <label>Hab id</label>
            <input type="text" name="habid_exact" id="habid_exact" v-model="habid_exact" autofocus>
            <label><input type="checkbox" name="portalonly" id="portal" v-model="inPortal">Only Portal</label>
            <input type="submit" :disabled="!habid && !habid_exact && !village" value="Load">
        </form>
        <hr>
    </div>
    <form class="downloadSummary" method="POST" action="{% url 'work:downloadFile' %}">
        {% csrf_token %}
        <input hidden name='path' value="outputs/filtered_consumers.xlsx">
        <input hidden name='filename' value="filtered_consumers.xlsx">
        <input hidden name='tabtype' value="filtered_consumers">
        <input type="submit" value="Download">
    </form>
    <div v-if="consumers" class="section">
        <span v-html="consumers"></span>
    </div>
</div>
{% endblock %}
{% block right %}
{% endblock %}
{% block script %}
<script>
    new Vue({
        el: "#appConsumer",
        delimiters: ["{:", ":}"],
        data: {
            isValid: false,
            upid: null,
            file: null,
            habid: null,
            habid_exact: null,
            village: null,
            consumers: null,
            inPortal: false
        },
        methods: {
            changed: function () {
                if (this.upid == null)
                    this.upid = this.file;
                this.isValid = this.file != null && this.upid != null;
            },
            loadConsumers: function () {
                this.consumers = null;
                let formdata = new FormData();
                if (this.habid)
                    formdata.append('habid', this.habid.replace(" ", ""));
                if (this.habid_exact)
                    formdata.append('habid_exact', this.habid_exact.replace(" ", ""));
                if (this.village)
                    formdata.append('village', this.village.replace(" ", ""));
                if (this.inPortal)
                    formdata.append('inPortal', 'True');
                axios.post("{% url 'consumers:api_getConsumers' %}", formdata, {
                    headers: {
                        'X-CSRFToken': Cookies.get('csrftoken')
                    }
                }).then(response => {
                    this.consumers = response.data['consumers'];
                });
            }
        }

    });
</script>

{% endblock %}